<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119237525-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119237525-1');
    </script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TT6M8DM');</script>
        <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio Sylwia Woźniak frontend webdesign</title>
    <meta property="og:title" content="Portfolio Sylwia Woźniak frontend webdesign" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://sylwiacz.github.io/img/sw.jpg" />
    <meta property="og:url" content="https://sylwiacz.github.io" />
    <meta property="og:description" content="Welcome to my frontend portfolio" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One:400|Text+Me+One:400|Open+Sans:400" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="css/build.css" rel="stylesheet">
    <meta name="google-site-verification" content="Bg5FSx2vlNxfuxTq7za9-BYcU9hLwpafkfNqcG-XG04" />
</head>
  